.videoplayer {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  @media (max-width:600px) {
    .bg1{
      background-image: url(../assets/operationsbgmob.png) !important;
    }
    .opmsize {
      width: 100%;
    }
  }