@media (max-width:600px) {
    .bg1{
        background-image: url(../assets/homemobbg.png) !important;
        background-size: cover;
        
    }
    .bg2{
        transform: translate(0,0);
    }
  }