 .contact .row form {
    display: flex;
    flex-flow: column;
    
  }
  
  
  .contact .row form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 14px;
    color: #A9A9A9;
    text-transform: none;
    margin: 1rem 0;
    border: #A17337 solid 3px;
    background: transparent;
    
  }
  .contact .row form .box2 {
    width: 39%;
    padding: 1rem 1.2rem;
    font-size: 14px;
    color: #A9A9A9;
    text-transform: none;
    margin: 1rem 0;
    border: #A17337 solid 3px;
    background: transparent;
    
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .contact .row form textarea {
    height: 6rem;
    resize: none;
    width: 92%;
    padding: 1rem 1.2rem;
    font-size: 14px;
    color: #A9A9A9;
    text-transform: none;
    margin: 1rem 0;
    border: #A17337 solid 3px;
    background: transparent;
    font-family: 'Roboto';
  }

  .mybutton:hover {
    background-color: #7C4D10 !important;
  }
  .navlink:hover {
    color: #A17337 !important;
  }
  .mybuttonsecond:hover {
    background-color: #A17337 !important;
    color: #fff !important;;
  }
  .mybuttonthird {
    background-color: #A17337 !important;
  }
  .mybuttonthird:hover {
    background-color: #7C4D10 !important;
  }
  .homeimg1{
    visibility: visible;
  }
  .homeimg2{
    display: none;
  }

  @media (max-width:1536px) {
    .mybutton {
      font-size: 20px !important;
    }
    .mybuttonsecond {
      font-size: 20px !important;
    }
    .mybuttonthird {
      font-size: 20px !important;
    }
  }
  @media (max-width:600px) {
    .homeimg1{
      display: none;
    }
    .homeimg2{
      display: inline;
      margin-top: 50px;
      width: 100%;
    }
    .contact .row form .box2 {
      width: 90%;
      
    }
    .contact .row form .box {
      width: 90%;
    }
    .contact .row form textarea {
      width: 90%;
    }
    .contactimg{
      width: 100%;
    }
    .navlink {
      color:#fff !important;
      border: none !important;
    }
    .bg2{
      background-image: url(../assets/mainmobbg.png) !important;
      background-size: cover;
    }
  }