.header{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 9%;
    background-color: #006778;
}
.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i{
    color: #FFD124;
}
.header .logo i:hover{
    font-size:3rem;
    color:#FFD124;
}
.header .navbar ul{
    list-style: none;
}
.header .navbar ul li{
    position: relative;
    float: left;
}
.header .navbar ul li:hover ul{
    display: block;
}
.header .navbar ul li a{
    padding: 2.5rem;
    display: block;
    font-size: 1.8rem;
    color: #fff;
}
.header .navbar ul li h1{
    padding: 2rem;
    display: block;
    font-size: 2.5rem;
    color: #FFD124;
}
.header .navbar ul li a:hover {
    background-color: #00AFC1;
}
#menu-btn {
    cursor: pointer;
    color: black;
    font-size: 2.5rem;
    display: none;
}

@media (max-width: 768px){
    #menu-btn {
        display: inline-block;
    }
    .header{
        padding: 2rem;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: #006778;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar ul li{
        width: 100%;
    }

}